* {
    box-sizing: border-box;
}

@keyframes scrollTop {
    from {
        background-position: 0 top;
   }
    to {
        background-position: -1200px top;
   }
}
@keyframes scrollBottom {
    from {
        background-position: 0 bottom;
   }
    to {
        background-position: -1200px bottom;
   }
}
.cardsAnim {
    position: relative;
    height: 100vw;
    background: #f9a447;
    overflow: hidden;
}
.playingCardContainer {
    position: absolute;
    left: calc(50% - 22vw);
    top: calc(50% - 26vw);
}
.playingCard {
    max-width: 240px;
    max-height: 360px;
    border-radius: 2vw;
    width: 40vw;
    height: 60vw;
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.c1 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/96252/card-serpent.png');
}
.c1.anim {
    animation-name: cardAnimation_c1;
}
.c2 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/96252/card-managerr.png');
}
.c2.anim {
    animation-name: cardAnimation_c2;
}
.c3 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/96252/card-bot.png');
}
.c3.anim {
    animation-name: cardAnimation_c3;
}
.c4 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/96252/card-conjurer.png');
}
.c4.anim {
    animation-name: cardAnimation_c4;
}
.c5 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/96252/card-psycho.png');
}
.c5.anim {
    animation-name: cardAnimation_c5;
}
@keyframes cardAnimation_c1 {
    50%, 55% {
        transform: translate(-30vw, 0) rotate(-30deg);
   }
    65% {
        transform: translate(-30vw, -30px) rotate(-30deg);
   }
    75%, 100% {
        transform: translate(-30vw, 0) rotate(-30deg);
   }
}
@keyframes cardAnimation_c2 {
    50%, 60% {
        transform: translate(-15vw, 0) rotate(-15deg);
   }
    70% {
        transform: translate(-15vw, -30px) rotate(-15deg);
   }
    80%, 100% {
        transform: translate(-15vw, 0) rotate(-15deg);
   }
}
@keyframes cardAnimation_c3 {
    65% {
        transform: translate(0, 0);
   }
    75% {
        transform: translate(0, -30px);
   }
    85% {
        transform: translate(0, 0);
   }
}
@keyframes cardAnimation_c4 {
    50%, 70% {
        transform: translate(15vw, 0) rotate(15deg);
   }
    80% {
        transform: translate(15vw, -30px) rotate(15deg);
   }
    90%, 100% {
        transform: translate(15vw, 0) rotate(15deg);
   }
}
@keyframes cardAnimation_c5 {
    50%, 75% {
        transform: translate(30vw, 0) rotate(30deg);
   }
    85% {
        transform: translate(30vw, -30px) rotate(30deg);
   }
    95%, 100% {
        transform: translate(30vw, 0) rotate(30deg);
   }
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    line-height: 1.1;
}
@media (min-width: 31.25em) {
    .playingCardContainer {
        left: calc(50% - 120px);
        top: calc(50% - 180px);
   }
    .playingCard {
        border-radius: 15px;
   }
    .cardsAnim {
        height: 36rem;
   }
}
@media (min-width: 43.75em) {
    .homeContent h1 {
        font-size: 3rem;
   }
    .layer, #cloud1, #cloud2, #cityBack, #city {
        background-size: auto;
   }
    #cloud1, #cloud2 {
        animation-name: scrollTop;
   }
}
@media (min-width: 56.25em) {
    p {
        font-size: 1.5em;
   }
    h2 {
        font-size: 2.5em;
   }
    .spaced img {
        max-width: 100%;
   }
    @keyframes cardAnimation_c1 {
        50%, 55% {
            transform: translate(-300px, 0) rotate(-30deg);
       }
        65% {
            transform: translate(-300px, -30px) rotate(-30deg);
       }
        75%, 100% {
            transform: translate(-300px, 0) rotate(-30deg);
       }
   }
    @keyframes cardAnimation_c2 {
        50%, 60% {
            transform: translate(-150px, 0) rotate(-15deg);
       }
        70% {
            transform: translate(-150px, -30px) rotate(-15deg);
       }
        80%, 100% {
            transform: translate(-150px, 0) rotate(-15deg);
       }
   }
    @keyframes cardAnimation_c3 {
        65% {
            transform: translate(0, 0);
       }
        75% {
            transform: translate(0, -30px);
       }
        85% {
            transform: translate(0, 0);
       }
   }
    @keyframes cardAnimation_c4 {
        50%, 70% {
            transform: translate(150px, 0) rotate(15deg);
       }
        80% {
            transform: translate(150px, -30px) rotate(15deg);
       }
        90%, 100% {
            transform: translate(150px, 0) rotate(15deg);
       }
   }
    @keyframes cardAnimation_c5 {
        50%, 75% {
            transform: translate(300px, 0) rotate(30deg);
       }
        85% {
            transform: translate(300px, -30px) rotate(30deg);
       }
        95%, 100% {
            transform: translate(300px, 0) rotate(30deg);
       }
   }
}
