body {

    background-image: transparent;
}


    .cards {

        height: 315px;
        width: 205px;
        transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
        margin: 20vh 50%;
        position: relative;

    }
    .ace,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.joker,.queen,.king{
        height: 315px;
        width: 205px;
        transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
        margin: 150px auto;

    }
    .ace {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/a.png');
        background-size: cover;
            
    }
    .two {
        background:       url('https://raw.githubusercontent.com/garry6862/Base/master/2.png');
        background-size: cover;
    }
    .three {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/3.png');
        background-size: cover;
    }
    .four {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/4.png');
        background-size: cover;							
    }
    .five {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/5.png');
        background-size: cover;							
    }
    .six {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/6.png');
        background-size: cover;							
    }
    .seven {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/7.png');
        background-size: cover;							
    }
    .eight {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/8.png');
        background-size: cover;							
    }
    .nine {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/9.png');
        background-size: cover;							
    }
    .ten {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/10.png');
        background-size: cover;							
    }
    .joker {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/j.png');
        background-size: cover;							
    }
    .queen {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/q.png');
        background-size: cover;							
    }
    .king {
        background: url('https://raw.githubusercontent.com/garry6862/Base/master/k.png');
        background-size: cover;							
    }
    .ace {
        transform: rotate(-75deg);
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
        transform-origin: bottom left; 
    }
    .cards div{
        transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
        transform-origin: bottom left;
    }